section{
  padding-left:36%;
  padding-right:36% ;
  margin-top: -10rem;
}

#form2 {
  background-color: white;
  height: 41rem;
  width: 28rem;
  border-radius: 0.3rem;
  border-color: grey;
  box-shadow: 0 0.3rem 0.3rem #cccdd0;
  margin-top: -23rem;
  text-align: center;
  position: absolute;


}
#sign h2 {
  padding-left: 1rem;
  padding-top: 1rem;
  text-align: left;
  line-height: 1rem;
}
#sign p {
  padding-top: 0.5rem;
  padding-left: 1rem;
  line-height: 1.8rem;
  text-align: left;
  font-size: 1rem;
}
#field {
  height: 2.8rem;
  width: 11rem;
  border-radius: 0.4rem;
}
#form2 #field {
  margin: 0.4rem;
  background-color: #f5f6f7;
  border-color: #f5f6f7;
}
#fieldname {
  border-color: #f5f6f7;
  background-color: #f5f6f7;
  height: 2.8rem;
  width: 11rem;
  margin: 0.4rem;
  border-radius: 0.4rem;
}
#fieldthird {
  border-color: #f5f6f7;
  background-color: #f5f6f7;
  height: 2.8rem;
  width: 22.8rem;
  margin: 0.4rem;
  border-radius: 0.4rem;
}
#form2 #paragraf {
  text-align: left;
  padding-left: 1rem;
  font-size: 0.9rem;
}
#fieldchoose {
    margin-left: 0.6rem;
  height: 2.8rem;
  border-color: grey;
  border-radius: 0.4rem;
  width: 7rem;
}
.date {
  overflow-y: auto;
}
#exit{
    display: flex;
    justify-content: space-between;
}
#exit svg{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: black;
}
label{
  margin-left: 1rem;
  margin-right: 1rem;
  border:1px solid red;
  height: 2.4rem;
  width: 7rem;
  text-align: center;
  align-items: center;
  border-radius: 0.4rem;
  border-color: grey;
  padding-top: 0.3rem;
}
#learn{
  color: #387DC3;
  cursor: pointer;
}
#conditions{
  padding-top: 0.8rem;
  padding-left: 1.2rem;
  padding-right:0.6rem;
  font-size: 0.7rem;
  text-align: left;
}
#conditions2{
  margin-top: -0.7rem;
  padding-left: 1.2rem;
  padding-right:2.5rem;
  font-size: 0.7rem;
  text-align: left;
}
.btn{
  width: 10rem;
}
.btn:hover{
  opacity: 0.5;
}
.namess{
  display: flex;
  padding-left: 8%;
  height: 3rem;
}

